{% extends "header.html" %}

{% block title %} Le Madeleine - Registrarse {% endblock %}

{% block content %}
<div class="m-0 row justify-content-center">
    <h1 class="text-center">Registro</h1>
    <div class="col-auto text-center w-50 ">
        <form action="/registro/save" method="POST" class="inputs-container1" id="formulario">
            {{ form.hidden_tag() }}
            <div class="form-floating">
                {{ form.nombres }}<br><br>
                <label class="">Nombres</label>
            </div>
            <div class="form-floating">
                {{ form.apellidos }}<br><br>
                <label class="">Apellidos</label>
            </div>
            <div class="form-floating mb-5">
                {{ form.tipodocumento}}
                <label for="">Seleccione</label>
            </div>
            <div class="form-floating">
                {{ form.documento }}<br><br>
                <label class="">Número de Documento</label>
            </div>
            <div class="form-floating mb-5">
                {{ form.fecha }}
                <label class="" for="start">Fecha de Nacimiento</label>
            </div>
            <div class="form-floating">
                {{ form.direccion }}<br><br>
                <label class="">Direccion</label>
            </div>
            <div class="form-floating mb-5">
                {{ form.celular }}
                <label class="">Numero de Celular</label>
            </div>
            <div class="form-floating">
                {{ form.mail }}<br><br>
                <label class="">Email</label>
            </div>
            <div class="form-floating mb-5">
                {{ form.usuario }}
                <label>Nombre de usuario</label>
            </div>
            <div class="form-floating mb-4">
                {{ form.clave }} 
                <label>Contraseña</label>
                <div class="form-text text-start"><img src="{{ url_for('static', filename='img/view.png')}}  " width="20px" onmouseOver="mostrarPassword();" onmouseOut="ocultarPassword();"></div>
                
                <div class="form-text text-start">La contraseña debe contener mínimo 8 caracteres</div>
            </div>
            <div class="form-floating mb-4">
                {{ form.repetir }}
                <label>Confirmar contraseña</label>
                <div class="form-text text-start"><img src="{{ url_for('static', filename='img/view.png')}}  " width="20px" onmouseOver="muestra();" onmouseOut="ocultar();"></div>
                
            </div>
            <div class="form-check text-start mb-3">
                {{ form.politica}}
                <label class="form-check-label" for="flexCheckDefault">
                    Acepto la politica de tratamiento y uso datos personales.
                </label>
            </div>
            <div class="d-grid">
                {{ form.enviar}}
            </div>
        </form>
        <script src="{{ url_for('static', filename='js/funciones.js')}} "></script>
    </div>
</div>
{% endblock %}