<html>
 <head>
 </head>
  <body>
    <div class="row">
      <div class="col-12 p-5">
        <h1>Usuarios</h1>
        <hr />
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-10">
                <input type="text" name="search" placeholder="Busque un usuario" class="form-control" />
              </div>
              <div class="col-2">
                <button class="btn btn-secondary">Buscar <i class="bi-search"></i></button>
              </div>
            </div>
          </div>
        </form>

        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">T. Documento</th>
              <th scope="col">No. Documento</th>
              <th scope="col">F. Nacimiento</th>
              <th scope="col">Dirección</th>
              <th scope="col">Email</th>
              <th scope="col">No. de celular</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>001</p>  
              </td>
              <td>
                <p>Pedro</p>
              </td>
              <td>
                <p>Pérez</p>
              </td>
              <td>
                <p>CC</p>
              </td>
              <td>
                <p>12456987</p>
              </td>
              <td>
                <p>dd/mm/aaaa</p>
              </td>
              <td>
                <p>Calle 5 #23-50</p>
              </td>
              <td>
                <p>correo@gmail.com</p>
              </td>
              <td>
                <p>3002547829</p>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-success"><i class="bi-wrench"></i> Editar</button>
                  <button class="btn btn-danger"><i class="bi-x-circle"></i> Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>